
# Local .terraform directories
**/.terraform/*
.terraform.tfstate*
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Override files (local-only configs)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive local vars
*.tfvars
*.tfvars.json
terraform.tfvars

# === Azure CLI ===
# Azure auth cache
.azure/

# === VSCode ===
.vscode/

#Ignore provider keys
*.pem
*.key
*.crt

#secrets
providers.tf
